.container {
  padding-left: 0.75rem;
}

.linedContainer {
  border-left: 1px solid var(--ifm-toc-border-color);
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  padding-bottom: 0.25rem;
}

.linedHeader {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  margin-bottom: 1rem;
}

.title {
  flex: 1;
  margin: 0.25rem;
  font-weight: bold;
  font-size: var(--ifm-h3-font-size);
}

.titleLarge {
  font-size: var(--ifm-h2-font-size);
}

.titleSmall {
  font-size: var(--ifm-h4-font-size);
}

.card {
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}