---
import "@/styles/globals.css";
import { Sidebar } from "@/components/Sidebar";
---


    <html lang="en">
      <body
        style={{
          display: "flex",
          flexDirection: "row",
          margin: 0,
          padding: 0,
          position: "absolute",
          inset: 0,
        }}
      >
          <slot />
      </body>
    </html>
