---
import "@/styles/globals.css";
import "@/styles/speakeasy.css";
import { Sidebar } from "@/components/Sidebar";
import  sidebarMetadata from "@/data/pokeapi/sidebarMetadata.json";
---
<html lang="en">
    <body style="display: flex; flex-direction: row; margin: 0; padding: 0; position: absolute; inset: 0;">
        <div style="flex: 0 1 400px; border-right: 1px solid var(--speakeasy-border-color); margin-right: 1rem; padding: 1rem; overflow: auto;">
            <Sidebar sidebarMetadata={sidebarMetadata} pathPrefix="pokeapi" />
        </div>
        <div style="flex: 1 1 100%; overflow: auto;"><slot /></div>
    </body>
</html>
