.connectingCellContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
}

.connectingCell {
  min-width: var(--speakeasy-expandable-cell-size);
  min-height: var(--speakeasy-expandable-cell-size);
}

.expandableButtonContainer {
  min-width: calc(2 * var(--speakeasy-expandable-cell-size));
  min-height: calc(2 * var(--speakeasy-expandable-cell-size));
  padding: 3px;
}

.expandableButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
  border-style: solid;
  border-radius: var(--speakeasy-expandable-button-radius);
  cursor: pointer;
  padding: 0;
  appearance: none;
  background-color: transparent;
  width: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
  height: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
}

.verticalConnected {
  border-right: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

.verticalHighlighted {
  border-right: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color-active);
}

.horizontalConnected {
  border-bottom: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

.horizontalHighlighted {
  border-bottom: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color-active);
}

.contentCell {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  flex-grow: 1;
}

.contentCellTitle {
  height: calc(2 * var(--speakeasy-expandable-cell-size));
}

.expandableEntry {
  display: flex;
  flex-direction: row;
}