/**** Pill ****/

.speakeasy-pill--common {
  border-radius: var(--speakeasy-pill-border-radius);
  padding: var(--speakeasy-pill-padding);
  font-family: var(--speakeasy-pill-font-family);
  font-size: var(--speakeasy-pill-font-size);
}

.speakeasy-pill--warning {
  background-color: var(--speakeasy-pill-warning-background-color);
  color: var(--speakeasy-pill-warning-color);
  border: var(--speakeasy-border-width) solid var(--speakeasy-pill-warning-border-color);
}

.speakeasy-pill--error {
  background-color: var(--speakeasy-pill-error-background-color);
  color: var(--speakeasy-pill-error-color);
  border: var(--speakeasy-border-width) solid var(--speakeasy-pill-error-border-color);
}

.speakeasy-pill--info {
  background-color: var(--speakeasy-pill-info-background-color);
  color: var(--speakeasy-pill-info-color);
  border: var(--speakeasy-border-width) solid var(--speakeasy-pill-info-border-color);
}

.speakeasy-pill--success {
  background-color: var(--speakeasy-pill-success-background-color);
  color: var(--speakeasy-pill-success-color);
  border: var(--speakeasy-border-width) solid var(--speakeasy-pill-success-border-color);
}

.speakeasy-pill--primary {
  background-color: var(--speakeasy-pill-primary-background-color);
  color: var(--speakeasy-pill-primary-color);
  border: var(--speakeasy-border-width) solid var(--speakeasy-pill-primary-border-color);
}

.speakeasy-pill--secondary {
  background-color: var(--speakeasy-pill-secondary-background-color);
  color: var(--speakeasy-pill-secondary-color);
  border: var(--speakeasy-border-width) solid var(--speakeasy-pill-secondary-border-color);
}

/**** Section ****/

/* Reset margins, which vary between scaffolds */
.speakeasy-section--section h1:first-child,
.speakeasy-section--section h2:first-child,
.speakeasy-section--section h3:first-child,
.speakeasy-section--section h4:first-child,
.speakeasy-section--section h5:first-child,
.speakeasy-section--section h6:first-child {
  margin: 0;
}

.speakeasy-section--breakout {
  border-left: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
  margin-left: 0.5rem;
}

.speakeasy-section--topLevel {
  padding-bottom: 2rem;
}

/**** Section Title ****/

.speakeasy-section-title--title {
  /*
   * TODO: this is a magic number I found by trial and error. I don't know
   * why it's needed, but without it we don't scroll to the right place.
   * This may not be consistent across different Docusaurus instances
   */
   scroll-margin-top: 5rem;
}

.speakeasy-section-title--title h1,
.speakeasy-section-title--title h2,
.speakeasy-section-title--title h3,
.speakeasy-section-title--title h4,
.speakeasy-section-title--title h5,
.speakeasy-section-title--title h6 {
  margin: 0;
  padding: 0;
}

.speakeasy-section-title--topLevel {
  padding-bottom: 1rem;
}

.speakeasy-section-title--breakout {
  display: flex;
  align-items: center;
  border-left: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
  margin-left: 0.5rem;
}

.speakeasy-section-title--breakoutLine {
  min-width: 1rem;
  border-top: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

/**** Section Content ****/

.speakeasy-section-content--content h2,
.speakeasy-section-content--content h3,
.speakeasy-section-content--content h4,
.speakeasy-section-content--content h5,
.speakeasy-section-content--content h6 {
  /* Normalize padding on headings across scaffolds */
  margin-top: 0;
  margin-bottom: 1rem;
}

.speakeasy-section-content--content > :last-child {
  margin-bottom: 0;
}

.speakeasy-section-content--breakout {
  padding-left: 3rem;
}

/**** Tabbed Section ****/

.speakeasy-tabbed-section--titleContainer {
  display: flex;
  align-items: center;
}

.speakeasy-tabbed-section--tabs {
  padding-left: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.speakeasy-tabbed-section--button {
  border-radius: var(--speakeasy-tab-button-border-radius);
  font-weight: bold;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
}

.speakeasy-tabbed-section--button div[slot="tab"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.speakeasy-tabbed-section--button p {
  margin: 0;
}

.speakeasy-tabbed-section--buttonInactive {
  background-color: var(--speakeasy-tab-button-background-inactive);
  border: var(--speakeasy-tab-button-border-inactive);
  color: var(--speakeasy-tab-button-color-inactive);
}

.speakeasy-tabbed-section--buttonInactive:hover {
  background-color: var(--speakeasy-tab-button-background-inactive-hover);
  border: var(--speakeasy-tab-button-border-inactive-hover);
  color: var(--speakeasy-tab-button-color-inactive-hover);
}

.speakeasy-tabbed-section--buttonActive {
  background-color: var(--speakeasy-tab-button-background-active);
  border: var(--speakeasy-tab-button-border-active);
  color: var(--speakeasy-tab-button-color-active);
}

.speakeasy-tabbed-section--buttonActive:hover {
  background-color: var(--speakeasy-tab-button-background-active-hover);
  border: var(--speakeasy-tab-button-border-active-hover);
  color: var(--speakeasy-tab-button-color-active-hover);
}
