.button {
  color: var(--ifm-font-color-base);
  border-color: var(--ifm-tabs-color-active-border);
  border: none;
  border-radius: var(--ifm-breadcrumb-border-radius);
  font-weight: bold;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button div[slot="tab"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button div[slot="tab"] > p {
  margin: 0;
}

.buttonInactive {
  background-color: var(--ifm-menu-color-background);
}

.buttonInactive:hover {
  background-color: var(--ifm-menu-color-background-hover);
  background: var(--ifm-breadcrumb-item-background-active);
}

.buttonActive {
  background: var(--ifm-breadcrumb-item-background-active);
  color: var(--ifm-breadcrumb-color-active);
  border-radius: var(--ifm-breadcrumb-border-radius);
}

.contents {
  display: flex;
  gap: 0.5rem;
}

.header {
  padding-bottom: 0.5rem;
}

.header div[slot="title"] {
  flex-grow: 1;
}

.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  margin: 0;
}
