.header {
  display: flex;
  padding-bottom: var(--ifm-tabs-padding-vertical);
  margin-bottom: var(--ifm-tabs-padding-vertical);
  border-bottom: var(--ifm-global-border-width) solid var(--ifm-hr-background-color);
}

.button {
  color: var(--ifm-tabs-color);
  border: var(--ifm-global-border-width) solid var(--ifm-blockquote-border-color);
  border-radius: var(--ifm-breadcrumb-border-radius);
  font-weight: bold;
  min-width: 4rem;
}

.buttonInactive {
  background-color: var(--ifm-menu-color-background);
}

.buttonInactive:hover {
  background-color: var(--ifm-menu-color-background-hover);
}

.buttonActive {
  color: var(--ifm-tabs-color-active);
  background-color: var(--ifm-menu-color-background-active);
  border-color: var(--ifm-tabs-color-active-border);
}