.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  margin: 0;
  padding: 0;
}

.paddingDefault {
  padding-bottom: 1rem;
}

.borderDefault {
  border-bottom: 1px solid var(--x-color-gray-200);
}

.borderDefault:where(:global(.dark) *) {
  border-bottom: 1px solid var(--x-color-neutral-800);
}

.borderDefault .paddingDefault {
  margin-bottom: 1rem;
}
