.paddingDefault {
  padding-bottom: 1rem;
}

.borderDefault {
  border-bottom: 1px solid var(--x-color-gray-200);
}

.borderDefault:where(:global(.dark) *) {
  border-bottom: 1px solid var(--x-color-neutral-800);
}

.borderDefault .paddingDefault {
  margin-bottom: 1rem;
}