/* New styles */

.entryContainer {
  display: flex;
  flex-direction: column;
}

.entryHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.entryContentContainer {
  display: flex;
  flex-direction: column;
  /* Exactly matches the width of the expandable cell component plus the gap on the entry header */
  padding-left: 40px;
  gap: 1rem;
  margin-block: 1rem;
}

.childContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Old styles, need to be vetted */

.connectingCellContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
}

.connectingCell {
  min-width: var(--speakeasy-expandable-cell-size);
  min-height: calc(var(--speakeasy-expandable-cell-height-multiplier) * var(--speakeasy-expandable-cell-size));
}

.nonExpandableCell {
  min-width: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
  min-height: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
  max-height: calc(2 * var(--speakeasy-expandable-cell-size) - 6px);
  margin: 3px;
  border: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.verticalConnected {
  border-right: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

.horizontalConnected {
  border-bottom: var(--speakeasy-border-width) solid var(--speakeasy-expandable-line-color);
}

.breakoutCellTitle {
  height: calc(2 * var(--speakeasy-expandable-cell-size));
  display: flex;
  align-items: center;
}

.breakoutCellContent {
  width: 100%;
  margin-block: 1rem;
}

.propertyCell {
  width: 100%;
  padding-left: 0.5rem;
}

.propertyTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 0.5rem;
  width: 100%;
}

.propertyTitleContainer h1,
.propertyTitleContainer h2,
.propertyTitleContainer h3,
.propertyTitleContainer h4,
.propertyTitleContainer h5,
.propertyTitleContainer h6 {
  margin: 0;
}

.typeInnerContainer,
.offscreenMeasureContainer {
  font-family: var(--speakeasy-font-mono);
  font-size: var(--speakeasy-property-type-font-size);
  text-wrap: nowrap;
}

.typeInnerContainer {
  padding: var(--speakeasy-pill-padding);
  background-color: var(--speakeasy-property-type-background-color);
  border-radius: var(--speakeasy-property-type-border-radius);
  border: 1px solid var(--speakeasy-property-type-border-color);
}

.typeInnerContainer a {
  scroll-behavior: smooth;
}

.typeInnerContainerInline {
  width: fit-content;
}

.typeInnerContainerMultiline {
  padding: 0.5rem 0.75rem;
}

/* For some reason, anchor tag styles are horribly butchered by something
   in Nextra, so we reset them to what they should be here */
.typeInnerContainer a {
  color: var(--speakeasy-anchor-color);
  text-decoration-line: underline;
}

.propertyTitlePrefixContainer {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  padding-right: 0.5rem;

  /*
   * We set a minimum height for the title container to ensure that the title
   * doesn't jank when switching between inline types and multiline types. We
   * need the title to be taller than the type container so the height of the
   * first row in the flexbox doesn't change on layout shift.
   */
  min-height: 2rem;
}

.offscreenMeasureContainer {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin: 0;
  padding: 0;
}
