@import 'tailwindcss';

/* Stops tailwind from automatically setting dark mode (https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually) */
/*noinspection CssInvalidAtRule*/
@custom-variant dark (&:where(.dark, .dark *));

.CommandBarComponent-Animator {
  font-family: TWKEverett, sans-serif;
  font-feature-settings: 'rlig', 'calt';
}
