.fieldEntry {
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  border-top: 1px solid var(--ifm-toc-border-color);
}

.fieldEntry:last-child {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}
