@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.99;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    scale: 1;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 0;
    scale: 0.99;
  }
}

.SpinnerComponent-Visible {
  animation:
    spin 0.8s linear infinite,
    appear 0.1s ease-in forwards;
}

.SpinnerComponent-Hidden {
  visibility: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
