.editorWrapper {
  height: 100%;
  min-height: var(--speakeasy-code-sample-height);
  max-height: 500px;
  display: flex;
  align-items: stretch;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: var(--speakeasy-code-border-radius);
}