.editorWrapper {
  min-height: var(--speakeasy-code-sample-height, 400px);
  border-radius: var(--speakeasy-code-border-radius);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.editor {
  min-height: var(--speakeasy-code-sample-height, 400px);
  width: 100%;
}