/* Editor styles */
.editor {
  width: 100%;
  height: 100%;
}

.editorContainer {
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;

  div[slot="editor"] {
    flex: 1;
  }
}

/* Run button styles */
.runButtonContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 10;
}

.runButton {
  cursor: pointer;
  color: var(--speakeasy-try-it-now-run-button-color);
  background-color: var(--speakeasy-try-it-now-run-button-background-color);
  border-radius: var(--speakeasy-button-radius);
  padding: var(--speakeasy-button-padding);
  border: none;
  position: relative;

  &:active {
    transform: scale(0.95);
  }
}

.results {
  flex: 1;
  display: flex;
  background-color:#1e1e1e;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  max-width: 50%;
  overflow-y: auto;
}

/* Layout styles */
.layout {
  overflow: hidden;
  display: flex;  
  flex-direction: row;
  border: 0.1rem solid var(--speakeasy-border-color);
  border-radius: var(--speakeasy-code-border-radius);
  height: var(--speakeasy-code-sample-height);
}

.results {
  flex: 1;
  display: flex;
}

/* Stack vertically on tablets and below */
@media screen and (max-width: 996px) {
  .outerLayout {
    flex-direction: column;
    max-height: none; /* Allow vertical growth when stacked */
    --speakeasy-try-it-now-panel-width: 100%; /* Set variable for vertical layout */

    border-radius: var(--speakeasy-code-border-radius);
    max-height: 500px;
  }

  .layout {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    --speakeasy-code-sample-height: 600px;
  }

  .results {
    max-width: 100%;
    max-height: 50%;
  }

  .editorWrapper {
    flex: 1;
    min-height: 0;
    height: 100%;
    max-height: 100%;
  }

  .layout,
  .resultsSlot {
    width: 100%; /* Ensure full width */
    flex: 1;
    max-height: 50%;
  }
}
