:root {
  /* Generic variables */
  --speakeasy-border-color: var(--ifm-toc-border-color);
  --speakeasy-border-width: var(--ifm-global-border-width);
  --speakeasy-border-radius-sm: 0.3rem; 

  /* Expandable specific variables */
  --speakeasy-expandable-font-size: var(--ifm-h5-font-size);
  --speakeasy-expandable-font-weight: bold;
  --speakeasy-expandable-padding-block: 0.5rem;
  --speakeasy-expandable-padding-inline: 0.5rem;

  /* Pill specific variables */
  --speakeasy-pill-border-radius: var(--ifm-badge-border-radius);
  --speakeasy-pill-padding: 2px 4px;
  --speakeasy-pill-font-family: var(--ifm-font-family-monospace);
  --speakeasy-pill-font-size: 80%;
  --speakeasy-pill-warning-background-color: color-mix(in oklab, var(--ifm-color-warning) 5%, transparent);
  --speakeasy-pill-warning-color: color-mix(in oklab, var(--ifm-color-warning) 80%, transparent);
  --speakeasy-pill-warning-border-color: transparent;
  --speakeasy-pill-error-background-color: color-mix(in oklab, var(--ifm-color-error) 5%, transparent);
  --speakeasy-pill-error-color: color-mix(in oklab, var(--ifm-color-error) 80%, transparent);
  --speakeasy-pill-error-border-color: transparent;
  --speakeasy-pill-info-background-color: color-mix(in oklab, var(--ifm-color-info) 5%, transparent);
  --speakeasy-pill-info-color: color-mix(in oklab, var(--ifm-color-info) 80%, transparent);
  --speakeasy-pill-info-border-color: transparent;
  --speakeasy-pill-success-background-color: color-mix(in oklab, var(--ifm-color-success) 5%, transparent);
  --speakeasy-pill-success-color: color-mix(in oklab, var(--ifm-color-success) 80%, transparent);
  --speakeasy-pill-success-border-color: transparent;
  --speakeasy-pill-primary-background-color: color-mix(in oklab, var(--ifm-color-primary) 5%, transparent);
  --speakeasy-pill-primary-color: color-mix(in oklab, var(--ifm-color-primary) 80%, transparent);
  --speakeasy-pill-primary-border-color: transparent;
  --speakeasy-pill-secondary-background-color: color-mix(in oklab, var(--ifm-color-secondary) 5%, transparent);
  --speakeasy-pill-secondary-color: color-mix(in oklab, var(--ifm-color-secondary) 80%, transparent);
  --speakeasy-pill-secondary-border-color: transparent;
}
