:root {
  /* Generic variables */
  --speakeasy-border-color: var(--ifm-toc-border-color);
  --speakeasy-border-width: var(--ifm-global-border-width);
  --speakeasy-border-radius-sm: 0.3rem; 

  /* Expandable specific variables */
  --speakeasy-expandable-font-size: var(--ifm-h5-font-size);
  --speakeasy-expandable-font-weight: bold;
  --speakeasy-expandable-padding-block: 0.5rem;
  --speakeasy-expandable-padding-inline: 0.5rem;

  /* Pill specific variables */
  --speakeasy-pill-font-size: 80%;
  --speakeasy-pill-padding: 2px 4px;
}
