:root {
  /* Generic variables */
  --speakeasy-border-color: var(--x-color-gray-200);
  --speakeasy-border-width: 1px;
  --speakeasy-border-radius-sm: var(--x-radius-sm); 

  /* Expandable specific variables */
  --speakeasy-expandable-font-weight: bold;
  --speakeasy-expandable-font-size: var(--ifm-h5-font-size);
  --speakeasy-expandable-padding-block: calc(var(--x-spacing) * 1);
  --speakeasy-expandable-padding-inline: calc(var(--x-spacing) * 2);

  /* Pill specific variables */
  --speakeasy-pill-font-size: 80%;
  --speakeasy-pill-padding: 2px 6px;
}

:root:where(.dark) {
  /* Generic variables */
  --speakeasy-border-color: var(--x-color-neutral-800);
}