:root {
  /* Generic variables */
  --speakeasy-border-color: var(--x-color-gray-200);
  --speakeasy-border-width: 1px;
  --speakeasy-border-radius-sm: var(--x-radius-sm); 

  /* Expandable specific variables */
  --speakeasy-expandable-font-weight: bold;
  --speakeasy-expandable-font-size: var(--ifm-h5-font-size);
  --speakeasy-expandable-padding-block: calc(var(--x-spacing) * 1);
  --speakeasy-expandable-padding-inline: calc(var(--x-spacing) * 2);

  /* Pill specific variables */
  --speakeasy-pill-border-radius: var(--x-radius-md);
  --speakeasy-pill-padding: 2px 6px;
  --speakeasy-pill-font-family: var(--x-font-mono);
  --speakeasy-pill-font-size: 80%;
  --speakeasy-pill-warning-background-color: color-mix(in oklab, var(--x-color-orange-400) 5%, transparent);
  --speakeasy-pill-warning-color: color-mix(in oklab, var(--x-color-orange-400) 80%, transparent);
  --speakeasy-pill-warning-border-color: color-mix(in oklab, var(--speakeasy-pill-warning-color) 30%, transparent);
  --speakeasy-pill-error-background-color: color-mix(in oklab, var(--x-color-red-500) 5%, transparent);
  --speakeasy-pill-error-color: color-mix(in oklab, var(--x-color-red-500) 80%, transparent);
  --speakeasy-pill-error-border-color: color-mix(in oklab, var(--speakeasy-pill-error-color) 30%, transparent);
  --speakeasy-pill-info-background-color: color-mix(in oklab, var(--x-color-slate-700) 5%, transparent);
  --speakeasy-pill-info-color: color-mix(in oklab, var(--x-color-slate-700) 80%, transparent);
  --speakeasy-pill-info-border-color: color-mix(in oklab, var(--speakeasy-pill-info-color) 30%, transparent);
  --speakeasy-pill-primary-background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  --speakeasy-pill-primary-color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
  --speakeasy-pill-primary-border-color: color-mix(in oklab, var(--speakeasy-pill-primary-color) 30%, transparent);
  --speakeasy-pill-secondary-background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  --speakeasy-pill-secondary-color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
  --speakeasy-pill-secondary-border-color: color-mix(in oklab, var(--speakeasy-pill-secondary-color) 30%, transparent);
  --speakeasy-pill-success-background-color: color-mix(in oklab, var(--x-color-primary-800) 5%, transparent);
  --speakeasy-pill-success-color: color-mix(in oklab, var(--x-color-primary-800) 80%, transparent);
  --speakeasy-pill-success-border-color: color-mix(in oklab, var(--speakeasy-pill-success-color) 30%, transparent);
}

/* Dark theme variable overrides */
:root:where(.dark) {
  /* Generic variables */
  --speakeasy-border-color: var(--x-color-neutral-800);
  
  /* Pill specific variables */
  --speakeasy-pill-info-background-color: color-mix(in oklab, var(--x-color-slate-200) 5%, transparent);
  --speakeasy-pill-info-color: color-mix(in oklab, var(--x-color-slate-200) 80%, transparent);
  --speakeasy-pill-info-border-color: color-mix(in oklab, var(--speakeasy-pill-info-color) 80%, transparent);
}