.container {
  display: flex;
  row-gap: 0.5rem;
}

.containerSingleLine {
  flex-direction: row;
  align-items: center;
}

.containerMutliline {
  flex-direction: column;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin: 0;
}

.characterMeasure {
  display: none;
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.containerSingleLine .typeContainer {
  flex-grow: 1;
}

.containerMutliline .typeContainer {
  width: 100%
}

.typeContainer {
  font-family: var(--ifm-font-family-monospace);
  font-size: 80%;
  text-wrap: nowrap;
}