.container {
  display: flex;
  align-items: center;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin: 0;
}

.typeSegment {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.unionSegment:not(:first-child)::before {
  content: "\00a0|\00a0";
}
