.contents {
  padding-block: 1rem;
  padding-inline: 0.75rem;
  border-top: 1px solid var(--x-color-gray-200);
}

.contents > h2:first-child,
.contents > h3:first-child,
.contents > h4:first-child,
.contents > h5:first-child,
.contents > h6:first-child {
  margin-top: 0;
}

.contents:where(:global(.dark) *) {
  border-top: 1px solid var(--x-color-neutral-800);
}

.contents:last-child {
  border-bottom: 1px solid var(--x-color-gray-200);
}

.contents:last-child:where(:global(.dark) *) {
  border-bottom: 1px solid var(--x-color-neutral-800);
}