name: React

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:

jobs:
  build-and-test:
    name: React Build and Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # Needed to copy the WASM file during build
          lfs: true
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Install dependencies
        run: npm ci
      - name: Lint
        working-directory: ./packages/react
        run: npm run lint
      - name: Build
        working-directory: ./packages/react
        run: npm run build
